name: Selenium BDD Tests

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Reqnroll tag to run'
        required: true
        default: 'smoke'
        type: choice
        options:
         - smoke
         - regression

      browser:
        description: 'Browser to run tests on'
        required: true
        default: 'chrome'
        type: choice
        options:
         - chrome
         - edge
         - firefox

      environment:
        description: 'Environment to run tests against'
        required: true
        default: 'STAGE'
        type: choice
        options:
         - STAGE
         - PROD

jobs:
  test:
    runs-on: windows-latest
    environment: ${{ github.event.inputs.environment }}

    env:
     BROWSER: ${{ github.event.inputs.browser }}
     ENVIRONMENT: ${{ github.event.inputs.environment }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Run tests
      run: dotnet test --no-build --filter Category=${{ github.event.inputs.tag }} -p:Browser=${{ github.event.inputs.browser }} -p:Environment=${{ github.event.inputs.environment }}
